<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#top" du-smooth-scroll><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ng-repeat="section in sections" du-scrollspy="{{sectionIds[$index]}}">
                    <a ng-href="#{{sectionIds[$index]}}" du-smooth-scroll>
                        {{section}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="header-container">
    <h1 id="header-text">Jenny &amp; Ryan</h1>
    <div><i>Help us celebrate our wedding!</i></div>
    <br/>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12" >
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.src}}" width="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-3" style="text-align:right;">
            <h3><a href="#/us">More Pictures...</a></h3>
        </div>
    </div>
</div>

<div id="content">
    <div id="{{sectionIds[0]}}" class="wedding-heading container"> <!-- Details -->
        <h1>{{sections[0]}}</h1>
        <div class="infobox">
            <h3>The Weddding</h3>
            <p>
                Our wedding will be on <b>July 22, 2017</b>.
                We will have a short ceremony at the <b>Walled Garden at Mellon Park</b> starting at <b>4:30pm</b>.
                A reception at <b>The Union Project</b> will follow, from <b>5:15</b> to <b>10:30</b>.
            </p>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a href="https://goo.gl/maps/6F7vs4qW14k" target="_blank">
                    <img src="/images/walled-garden.jpg" class="event-img img-responsive img-rounded img-center" />
                </a>
                <div class="img-caption">
                    <div>Walled Garden @ Mellon Park </div>
                    <div>
                        <i>6227 Mellon Park Road, Pittsburgh, PA</i>
                        <a href="https://goo.gl/maps/6F7vs4qW14k" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>
                    </div>
                    <div>
                        Street parking available on Beechwood
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <a href="https://goo.gl/maps/YZn8dewsvMz" target="_blank">
                    <img src="/images/unionproject.jpg" class="event-img img-responsive img-rounded img-center" />
                </a>
                <div class="img-caption">
                    <div>The Union Project</div>
                    <div>
                        <i>801 N Negley Ave, Pittsburgh, PA</i>
                        <a href="https://goo.gl/maps/YZn8dewsvMz" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>
                    </div>
                    <div>
                        Street parking available on Stanton &amp; Negley
                    </div>
                </div>
            </div>
        </div>

        <!--        <h2>(More)</h2>-->
        <div class="infobox">
            <h3>Wedding Details</h3>
            <ul>
                <li>Casual cocktail attire -- we understand it'll probably be warm in July so definitely wear something you'll be comfortable in.</li>
                <li>The Walled Garden has a lot of grass, and summertime in Pittsburgh can be rainy, so those-in-heels may want to take notice.</li>
                <li>If it's sunny or there's light rain, we'll keep the ceremony outside. If it's heavy rain, we will head to the Union Project for the ceremony and stay for the reception.</li>
                <li>To get between the ceremony and reception, we're hoping Lyft and locals who are willing to share their seats will be enough. The two spots are about 2 miles apart.</li>
                <li>The ceremony and reception are definitely kid-friendly, but unfortunately high chairs and booster seats will not be available.</li>
                <li>We will have vegetarian and gluten-free food options.</li>
            </ul>

            <h3>Sunday Brunch</h3>
            <p>We'd love it if you can join us for a casual breakfast/brunch starting at <b>10am</b> on <b>July 23</b>. We plan on having bagels and other light breakfast foods. Our lovely friend Julia is hosting at <a href="https://goo.gl/maps/xiQHhuEyj9r" target="_blank">5502 Raleigh St, Pittsburgh, PA</a>. Parking is along Beacon or Murdoch, and it's along the 61 bus routes.</p>

            <!--            <p>We'll be sharing a casual meal on <b>July 23</b> starting at <b>10am</b>. We're thinking bagels and other yummy breakfast-y things. Our lovely friend Julia is hosting at <a href="https://goo.gl/maps/xiQHhuEyj9r" target="_blank">5502 Raleigh St, Pittsburgh, PA</a>. Parking is along Beacon or Murdoch, and it's along the 61 bus routes. We'd love to see you there!</p>-->
        </div>
    </div>
    <div id="{{sectionIds[1]}}" class="wedding-heading container"> <!-- Travel -->
        <h1>{{sections[1]}}</h1>
        <div class="infobox">
            If you're not local, don't worry!
            <h3>By Air</h3>
            The <a href="" target="_blank">Pittsburgh "International" Airport</a> (yeah, we go to Canada. And maybe Paris?) is about twenty minutes outside the city. You can catch an Uber / Lyft / cab to the hotel. The 28X bus also stops at the aiport and drops off Downtown and in Oakland.
            <h3>By Train</h3>
            Our <a href="" target="_blank">Amtrak station</a> is located downtown and connects to the Pennsylvanian line (Philadelphia, NYC) and the Capital Limited line (Chicago, DC). It's very relaxing.
            <h3>By Car</h3>
            Well, we're not sure how helpful we can be here, but if you do drive, make sure you head through the Fort Pitt Tunnel. It's the <a href="https://youtu.be/Ci_rwQoRaxk?t=52s" target="_blank">best intro</a> to the city.
            <h3>Staying in PGH</h3>
            There are a few good hotel options in the area, but there are definitely other options if you're willing to drive a little. Let us know if you're having any trouble finding a place to stay and we'd be happy to help!
            <ul>
                <li>
                    <a href="http://www.marriott.com/hotels/travel/pitel-springhill-suites-pittsburgh-bakery-square/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2">SpringHill Suites</a> is super close the wedding and a short drive to the reception. They also have good deals for longer stays.
                </li>
                <li>
                    <a href="https://www.acehotel.com/pittsburgh">Ace Hotel</a> is close to the reception but is a little pricey and may not be great for families (they seem to mostly have rooms that fit "up to two adults").
                </li>
                <li>
                    <a href="https://www.ihg.com/hotelindigo/hotels/us/en/pittsburgh/pithb/hoteldetail">Hotel Indigo</a> is also pretty close to the reception and may be better for families.
                </li>
                <li>
                    <a href="https://www.airbnb.com/s/Pittsburgh--PA">Airbnb</a> is a nice alternative if you're looking for a little more flexibility in price and location.
                </li>
            </ul>
        </div>
    </div>

    <div id="{{sectionIds[2]}}" class="wedding-heading container"> <!-- Burgh -->
        <h1>{{sections[2]}}</h1>
        <div class="infobox">
            Here's some of our favorite things to do in the city. Pittsburgh has some excellent food trucks, and they often team up with the breweries listed below.
            <h3>Foods</h3>
            <ul>
                <li>
                    <a href="http://www.ds6pax.com/">D's Six Pack and Dogz</a>
                    <small> hot dogs and a good selection of beer</small>
                </li>
                <li>
                    <a href="https://franktuary.com/">Frankuary</a>
                    <small>more hot dogs &amp; sausages, and tasty cocktails</small>
                </li>
                <li>
                    <a href="http://noodleheadpgh.com/">Noodlehead</a>
                    <small>best thai street food in Pittsburgh</small>
                </li>
                <li>
                    <a href="http://www.nickysthaikitchen.com/">Nicky's Thai Kitchen</a>
                    <small>delicious everything-else-thai</small>
                </li>
                <li>
                    <a href="https://www.yelp.com/biz/udipi-cafe-monroeville-2">Udipi Cafe</a>
                    <small>best indian food in pittsburgh, location is kind of a dive and out of the way but the food is <i>so good</i></small>
                </li>
                <li>
                    <a href="http://www.bakersfieldtacos.com/">Bakersfield</a>
                    <small>real good tacos</small>
                </li>
                <li>
                    <a href="http://www.pamelasdiner.com/">Pamela's Diner</a>  
                    <small>greesy spoon breakfast, particularly excellent pancakes and potatoes</small>
                </li>
                <li>
                    <a href="https://twitter.com/pghtacotruck">PGH Taco Truck</a> 
                    <small>yummy tacos, sometimes found at Brew Gentlemen</small>
                </li>
                <li>
                    <a href="https://twitter.com/macandgoldtruck">Mac &amp; Gold Truck</a>
                    <small>gourmet mac 'n cheese, sometimes found at Grist House</small>
                </li>
            </ul>
            <h3>Drinks</h3>
            <p><small>(Fun Fact: most pubs and breweries in Pittsburgh are super kid-friendly.)</small></p>
            <ul>
                <li>
                    <a href="http://www.independentpgh.com/">Independent Brewery</a>
                    <small>our local spot; good selection of local and western PA beer</small>
                </li>
                <li>
                    <a href="http://www.brewgentlemen.com/">Brew Gentlemen</a>
                    <small>started by a few CMU alumni; tasty, smooth beverages</small>
                </li>
                <li>
                    <a href="http://gristhouse.com/">Grist House</a>
                    <small>great outdoor porch atmosphere with dogs; good booze, too</small>
                </li>
                <li>
                    <a href="http://maggiesfarmrum.com/">Maggie's Farm Rum Distillery</a>
                    <small>really awesome cocktails in a cozy spot</small>
                </li>
            </ul>
            <h3>Places</h3>
            <ul>
                <li>
                    <a href="http://www.carnegiemnh.org/">Carnegie Museum of Natural History</a>
                    <small>lots of dinosaurs</small>
                </li>
                <li>
                    <a href="http://www.warhol.org/">The Warhol</a>
                    <small>a chronological look through Andy Warhol's life</small>
                </li>
                <li>
                    <a href="https://pittsburghkids.org/">The Children's Museum</a>
                    <small>fantastic, thoughtful museum for kids (and adults!)</small>
                </li>
                <li>
                    <a href="https://www.aviary.org/">The National Aviary</a>
                    <small>there's a sloth. and a baby sloth! (also penguins and eagles and other awesome birds)</small>
                </li>
                <li>
                    <a href="https://www.mattress.org/">The Mattress Factory</a>
                    <small>contemporary art museum with room-sized exhibits. it's a little weird</small>
                </li>
                <li>
                    <a href="http://www.pittsburghparks.org/frick-park?gclid=CJmR3Obyg9ACFYwDhgodOJAB-Q">Frick Park</a>
                    <small>good hiking and bike trails and a new environmental center that's super cool</small>
                </li>
            </ul>
        </div>
    </div>
    <!-- Registry -->

    <div id="{{sectionIds[3]}}" class="wedding-heading container"> 
        <h1>{{sections[3]}}</h1>
        <div class="infobox">
            <p>
                We are very excited to share our wedding with all of you, and your company on our wedding day is all we really need. If you do want to give us something tangible, please know that we will be starting the next chapter of our lives in Switzerland so we won't be able to take many physical items with us. Instead, we've created a wedding registry on <a href="https://www.honeyfund.com/wedding/JennyAndRyan" target="_blank">Honeyfund</a> where you can help us to support our honeymoon and setting up shop in Switzerland. 
            </p>
            <p>
                If you decide you would like to give us a gift we would really appreciate if you can mail us a check/cash (6608 Dalzell Pl #2, Pittsburgh PA 15217), bring a card to the wedding, or (for the techies) send it via <a href="http://venmo.com/ryanaustincarlson" target="_blank">Venmo</a> or <a href="http://wallet.google.com" target="_blank">Google Wallet</a> (ryan.austin.carlson@gmail.com). A quick note: if you do decide to write a check, plase make it out to one of us, but not both, because we don't yet have a joint bank account so we won't be able to easily deposit checks make out to both of us.
            </p>
        </div>
    </div>

    <!-- RSVP -->
    <div id="{{sectionIds[4]}}" class="wedding-heading container">
        <h1>{{sections[4]}}</h1>
        <div class="infobox">
            <div style="text-align:center">
                (If you don't see a survey below, click <a href="https://docs.google.com/forms/d/e/1FAIpQLSd9f8CF4u0PBccdH8Bt94GPUw4tMJ_8mrHiSf7u0g30gKBxkQ/viewform" target="_blank">here</a>)
            </div>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd9f8CF4u0PBccdH8Bt94GPUw4tMJ_8mrHiSf7u0g30gKBxkQ/viewform?embedded=true" width="760" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading RSVP...</iframe>
        </div>
    </div>
</div>